body {
	text-align: center;
	font-family: Arial;
	background-color: #CCFFCC;
}

img#hfaal {
	height: auto;
	max-width: 75%;
}

#rsvp {
	font-size: 28pt;
}

a#giftlist {
	font-size: 18pt;
}

div#info {
	width: 75%;
	margin: auto;
}

img#charity {
	padding: 8px;
}

div#charity_wrapper {
	width: 100%;
}

div#charity {
	width: 350px;
	display: inline-block;
}

table#giftlist {
	width: 100%;
}

#giftlist-image {
	width: 50%;
	text-align: right;
}
