body {
	text-align: center;
	font-family: Arial;
	background-color: #CCFFCC;
}

img#hfaal {
	height: auto;
	max-width: 75%;
}

#rsvp {
	font-size: 28pt;
}

#giftlist {
	font-size: 18pt;
}

div#info {
	width: 50%;
	margin: auto;
}
